@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Website </h1><br>
    <p> <a class="display-5" style="text-decoration:none" asp-controller="Properity" asp-action="index">Easy Way to Find a Perfect Property</a>.</p><br><br>
</div>


<div class="search-container">
    <input type="text" placeholder="Search...">
    <a href="/Properity/index" class="btn btn-primary"><i class="fa fa-search"></i></a>

</div>
<br><br><br><br><br><br>